<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>04.04.2023</small>
    </div>

    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae voluptas, praesentium voluptatem quo harum, reiciendis quos expedita in fuga debitis quas vel ipsam! Nobis, odit fuga. Earum vitae, et voluptatem harum magnam, nostrum reprehenderit saepe, illo sed eius quis. Inventore!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae voluptas, praesentium voluptatem quo harum, reiciendis quos expedita in fuga debitis quas vel ipsam! Nobis, odit fuga. Earum vitae, et voluptatem harum magnam, nostrum reprehenderit saepe, illo sed eius quis. Inventore!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae voluptas, praesentium voluptatem quo harum, reiciendis quos expedita in fuga debitis quas vel ipsam! Nobis, odit fuga. Earum vitae, et voluptatem harum magnam, nostrum reprehenderit saepe, illo sed eius quis. Inventore!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae voluptas, praesentium voluptatem quo harum, reiciendis quos expedita in fuga debitis quas vel ipsam! Nobis, odit fuga. Earum vitae, et voluptatem harum magnam, nostrum reprehenderit saepe, illo sed eius quis. Inventore!
    </div>
</div>