<form class="card">
    <h2>Войти в панель администратора</h2>

    <div class="form-control"
        ngClass="{form.get('email').touched && form.get('email').invalid}">
        <label for="email">Email:</label>
        <input type="email" id="email">
        <div 
        ngIf="form.get('email').touched && form.get('email').invalid" 
        class="validation">
            <small>kjashdk</small>
        </div>
    </div>

    <div class="form-control">
        <label for="password">Пароль:</label>
        <input type="password" id="password">
        <div class="validation">
            <small>kjashdk</small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Войти</button>
</form>